*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
/* .hero{
    height: 100vh;
    width: 100%;
    background-image: url("final.jpg");
    background-size: cover;
    background-position: center;
} */
nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 45px;
      padding-right: 8%;
      padding-right: 8%;
      

}
.logo{
    color: white;
     font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
}
span{
    color:#ce604f;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    color: thistle;
    text-decoration: none;
    font-size: large;
}
nav ul li a:hover{
    color: #ce604f;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #181623 ;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h3{
    color:#181623;
    font-size:  25px;
    margin-bottom: 50px;
}
h4{
    color: #3e2221;
    font-size: 20px;
    letter-spacing: 2px;
}
/*about me */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background: #b58f9a;
    
background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);

}
 
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 40px;
    background: #808eb5;
}
.headings{
    text-align: center;
    line-height: 100px;
    background: #fbc6b8;
    margin-left: 10%;
    margin-right: 10%;
}
.symbols{
    padding-top: 30px;
    text-align: center;
    letter-spacing: 10px;
    font-size: larger;
}
#contacts{
    padding-top: 40px;
    padding-left: 20px;
    font-size: larger;
    flex: none;
    align-content: center;
    text-align: center;
    background: #808eb5;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: sans-serif;
    letter-spacing: 2px;
    
}
#contact{background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);

}
.hhome{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40vh;
    flex-direction: row;
}
.just{
    display: flex;
    justify-content: space-around;
    
}
.edu{
    text-align: center;
    font-family: sans-serif;
    color:#3e2221;
}

.randomclass{
    color: red;
}

.kitty{
    color: blue;
}
